<% provide(:title, 'Contact') %>
<div class="text-center">
<img alt="Rails" src="assets/question58.png" /><br><br>
<h9>Trouvez votre réponse</h9><br><br>
<h10>Nous avons probablement votre réponse dans nos questions les plus fréquentes</h10><br><br>
</div>
<div class="text-center">
<div class="row">
<br><h9>Questions les plus fréquentes</h9>
</div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h10>Que faire si je n'ai pas de réponse de la banque ?</h10><br><br>
<h11>Les institutions financières sont relancées chaque jour automatiquement si elles ont des circularisations en attente. Aucune procédures n'a besoin d'être réalisée afinde relancer les institutions financières.</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Que faire si ma circularisation fait l'objet d'un rejet ?</h10><br><br>
<h11>Si votre circularisation est rejetée par une institution financière, celle-ci est obligée de vous fournir une explication sur le motif du rejet.</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Comment m'assurer de l'authenticité de la réponse ?</h10><br><br>
<h11>Les institutions financières sont validées par Circularisation.com avant de pouvoir répondre. Nous avons vérifié l'identifé des répondants. </h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Puis-je rattacher plusieurs signataires à un même client ?</h10><br><br>
<h11>Vous pouvez rajouter un nombre illimité de signataire à un même client. Chaque signataire devra néanmoins avoir une adresse email différente.</h11><br><br>
  </div>
  </div>
<div class="row">
  <div class="col-md-3">
    <h10>Dois-je créer un client avant de créer un compte ?</h10><br><br>
<h11>Oui. Avant de pouvoir insérer des comptes et les circulariser, vous devez impérativement ajouter et paramétrer votre client.</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Puis-je créer plusieurs comptes sous un même client ?</h10><br><br>
<h11>Oui. Vous pouvez circulariser l'intégralité des comptes bancaires de votre client</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Puis-je relancer mon client afin qu'il signe les circularisations ?</h10><br><br>
<h11>Circularisation.com notifie chaque jour votre client pour lui indiquer qu'il a des circularisations en attente de signature. Vous ne pouvez pas le relancer via la plateforme.</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Les données que je fournies sont-elles protégées ?</h10><br><br>
<h11>La plateforme obéit à l'ensemble des règles de protection des données en vigueur au sein des environnements règlementés.</h11><br><br>
  </div>
  </div>
  <div class="row">
  <div class="col-md-3">
    <h10>Combien coûte l'exécution d'une circularisation ?</h10><br><br>
<h11>La circularisation est facturée au cabinet d'audit 15 euros hors taxes.</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Suis-je facturé si la circularisation ne fait pas l'objet d'une réponse ?</h10><br><br>
<h11>Non. La plateforme ne facture les circularisations que si elles font l'objet d'une réponse de la banque (validation ou rejet).</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Comment suis-je facturer ?</h10><br><br>
<h11>Votre cabinet est facturé en fin de mois.</h11><br><br>
  </div>
  <div class="col-md-3">
    <h10>Le prix est-il dégressif en fonction du nombre de circularisation que j'envoie ?</h10><br><br>
<h11>Non. Notre tarification est identique quelque soit le nombre de circularisations.</h11><br><br>
  </div>
  </div>
<div class="row">
  <div class="col-md-3">
    <h10>Puis-je centraliser les gestions des circularisations au sein de mon cabinet ?</h10><br><br>
<h11>Absolument. Vous pouvez centraliser la gestion de vos circularisations auprès d'une équipe ou d'un collaborateur au sein de votre cabinet. L'équipe/le collaborateur devra interagir avec la plateforme au travers d'une adresse email unique.
  </div>
</div>
<br>
<div class="text-center">
<div class="row">
<img alt="Rails" src="assets/man.png" /><br><br>
<h9>Vous n'avez pas trouvé de réponses à vos questions ?</h9><br><br>
</div>
<div class="row">
<h10>Vous pouvez nous contacter à contact@circularisation.com</h10><br><br>

<h10>Nous vous répondrons sous 24 heures.</h10><br>
</div>
