<% provide(:title, "Conditions") %>
<div class="text-center">
<br><h9>Conditions générales d'utilisation</h9><br><br>
<img alt="Rails" src="assets/contract.png" /><br>
<br><br>

<p class="text-justify">Pour toute questions relaties à nos condition d'utilisation, veuillez nous contacter à contact@circularisation.com</p>
</div>
<br>

Conditions Générales d'Utilisation du site www.circularisation.com. Version mise en ligne le 08/08/2015.<br><br>
<h10>I – Sur les Conditions générales d'utilisation</h10><br><br>
<h11>I.1 Champ d'application et définitions</h11><br><br>
<p class="text-justify">Les présentes conditions générales s'appliquent aux services proposés par les sites www.circularisation.com et www.circularisation.fr.

Dans les présentes,

    « Site » : désigne sans distinction les sites www.circularisation.com, www.circularisation.fr et plus généralement tout site internet ou application mobile édité ou co-édité par BODM ou encore tout site reprenant avec l'autorisation de BODM les informations publiées sur les sites qui précèdent et proposant des services similaires.
    « Commissaire aux comptes » : désigne la personne physique émettant sur le site une demande de confirmation pour un client et un compte bancaire qu'il aura définit.
    « Signataire » : désigne le clientdu commissaire aux comptes ayant accepté la demande de circularisation par la signature de la circularisation.
    « Répondant » : désigne l'institution financière qui répond à la confirmation.
    « Membre » : désigne indistinctement le commisssaire aux comptes, le signataire ou l'institution financière ayant accepté les présentes Conditions Générales d'Utilisation et utilisant le site. Les Membres sont seuls décisionnaires de la concrétisation du service de circularisation éléctronique.
    « Compte Utilisateur » : désigne le compte qui doit être créé pour pouvoir devenir Membre et accéder aux services proposés par le Site.
    « CGU » : désigne les présentes Conditions Générales d'Utilisation.</p>
<br>
 
<h11>I.2 Acceptation en ligne des Conditions Générales d'Utilisation</h11>
<br><br>
 

<p class="text-justify">L'utilisation du Site est subordonnée à l'acceptation des présentes CGU. Au moment de la création du Compte Utilisateur, les Membres doivent cliquer la case « J'accepte les Conditions Générales d'Utilisation du site et du service proposé ».
Seule l'acceptation de ces CGU permet aux Membres d'accéder aux services proposés par le Site. L'acceptation des présentes CGU est entière et forme un tout indivisible, et les Membres ne peuvent choisir de voir appliquer une partie des CGU seulement ou encore formuler des réserves.</p>

<br>
<h11>I.3 Modification des Conditions Générales d'Utilisation</h11>
<br><br>
 

<p class="text-justify">Circularisation.com se réserve le droit de modifier à tout moment les CGU, les fonctionnalités offertes sur le site ou les règles de fonctionnement du Service.
La modification prendra effet immédiatement dès la mise en ligne des CGU que tout utilisateur reconnait avoir préalablement consultées.
Circularisation.com se réserve notamment le droit de proposer des services nouveaux, gratuits ou payants sur le Site.</p>
<br>
<h10>II- Utilisation du Service</h10>
<br><br>

<h11>II.1 Compte Utilisateur</h11>
<br><br>
 
<p class="text-justify">Pour s'inscrire et bénéficier du service proposé en ligne par Circularisation.com, chaque Membre doit au préalable créer un Compte Utilisateur, en fournissant des données personnelles le concernant, indispensables au bon fonctionnement du service. Circularisation.com ne pourra en aucun cas être tenue responsable des informations qui pourraient être erronées ou frauduleuses communiquées par les Membres.

Le Membre s'engage à ne pas créer ou utiliser d'autres comptes que celui initialement créé, que ce soit sous sa propre identité ou celle de tiers. Toute dérogation à cette règle devra faire l'objet d'une demande explicite de la part du Membre et d'une autorisation expresse et spécifique de Circularisation.com. Le fait de créer ou utiliser de nouveaux comptes sous sa propre identité ou celle de tiers sans avoir demandé et obtenu l'autorisation de Circularisation.com pourra entraîner la suspension immédiate des comptes du Membre et de tous les services associés.</p>
<br>
<h11>II.2 Utilisation du Service à titre non professionnel et non commercial</h11>
<br><br>
<h10>IV- Interruption et suspension d'accès au service et/ou au site</h10>
<br><br>
<p class="text-justify">En cas de non respect de votre part de tout ou partie des CGU, vous reconnaissez et acceptez que Circularisation.com peut à tout moment, sans notification préalable, interrompre ou suspendre, de manière temporaire ou définitive, tout ou partie du Service ou votre accès au site (y compris notamment votre Compte Utilisateur) en cas de non-respect des CGU ou pour toute raison objective.</p>
<br>
<h10>VII- Traitement des données personnelles des utilisateurs et contenu du site</h10>
<br><br>
<h11>VII.1 Dispositions générales</h11>
<br><br>
<p class="text-justify">Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 modifiée par la loi n°2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés, Circularisation.com a procédé le 16 avril 2015 auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) à la déclaration préalable du traitement qu'elle opère sur les données personnelles vous concernant, conformément à la norme simplifiée n°48 (délibération CNIL n°2005-112 du 7 juin 2005 portant création d'une norme simplifiée concernant les traitements automatisés de données à caractère personnel relatifs à la gestion des fichiers de clients et de prospects – JO n°149 du 28 juin 2005).
<br><br>
Le responsable du traitement des données vous concernant est Circularisation.com. Conformément aux dispositions de la norme simplifiée n°48, ont seuls accès à vos données personnelles les salariés et prestataires de service de Circularisation.com, dont la tâche consiste à faire fonctionner le site ou à rendre le service.
Les données indiquées comme obligatoires dans le formulaire permettant de devenir utilisateur du site et du service nécessitent une réponse exacte de votre part. Tout défaut de réponse ou toute réponse jugée anormale par Circularisation.com est susceptible d'entrainer le refus de Circularisation.com de prendre en compte votre demande d'inscription au service.
Les données collectées par Circularisation.com dans le cadre des services rendus sur le Site sont traitées conformément aux dispositions de la norme simplifiée n°48 et de la loi « Informatique et Libertés » du 6 août 2004.</p>
<br>
<h11>VII.2 Transmission de vos données personnelles à des tiers</h11>
<br><br>
<p class="text-justify">Conformément aux dispositions de la norme simplifiée n°48, Circularisation.com se réserve le droit de transmettre tout ou partie des données personnelles concernant les Membres dans le strict respect de la norme simplifiée n°48 et de la loi « Informatique et Libertés » du 6 Août 2004.
Tout usage de données personnelles autre que celui indiqué ci-dessus devra faire l'objet d'un consentement individuel, préalable et explicite de la part des Membres.
Conformément à la loi n°78-17 du 6 janvier 1978, Comuto recueillera l'accord des Membres pour toute transmission de ses données à des partenaires commerciaux pour des opérations de marketing direct au moyen d'une case à cocher.</p>
<br>
<h11>VII.3 Droit d'accès, de rectification et d'opposition</h11>
<br><br>
<p class="text-justify">Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification sur les données personnelles vous concernant, en vous adressant au webmaster du Site, sauf pour les données personnelles que vous avez données à Circularisation.com lorsque vous avez rempli votre formulaire d'adhésion en ligne et qu'il vous appartient seul de modifier et de mettre à jour, ainsi qu'il est dit à l'article VII.4 « Mise à jour des données personnelles ».
Conformément à la loi n°78-17 du 6 janvier 1978, vous disposez du droit de vous opposer sans frais et gratuitement, à ce que les données personnelles vous concernant soient utilisées à des fins de prospection, notamment commerciale, par Circularisation.com ou par ses partenaires commerciaux. Si votre droit d'opposition est exercé pour ce motif directement auprès de Circularisation.com, cette dernière s'engage à répercuter votre opposition auprès de ses partenaires contractuels auxquels elle aurait éventuellement transmis vos données personnelles.
Conformément à la loi n°78-17 du 6 janvier 1978, Circularisation.com s'engage à ce que les données personnelles vous concernant, même celles transmises à d'éventuels partenaires commerciaux, ne soient pas transmises hors de l'Union Européenne, sauf à recueillir au préalable votre consentement exprès en ce sens.
Conformément à la loi n°78-17 du 6 janvier 1978, Circularisation.com se réserve le droit de transmettre les données personnelles vous concernant, soit pour respecter une obligation légale, soit en application d'une décision judiciaire, administrative, ou d'une autorité administrative indépendante (comme par exemple la Commission Nationale de l'Informatique et des Libertés).</p>
<br>
<h11>VII.4 Mise à jour des données personnelles</h11>
<br><br><p class="text-justify">
Vous vous engagez à assurer, en tant que de besoin, la mise à jour des données personnelles vous concernant. Vous vous engagez en outre à ce que les données personnelles vous concernant soient exactes, complètes et non équivoques. Vous pouvez à tout moment accéder, en utilisant sur le site votre mot de passe et votre login, à votre Compte Utilisateur contenant l'ensemble des données personnelles que vous avez fournies à Circularisation.com.
</p><br>
<h11>VII.5 Sécurité des données personnelles</h11>
<br><br><p class="text-justify">
Conformément à la loi n°78-17 du 6 janvier 1978, Circularisation.com s'engage à prendre toute précaution utile, au regard de la nature des données et des risques présentés par le traitement, pour préserver la sécurité des données transmises et, notamment, empêcher que ces données ne soient déformées, endommagées, ou que des tiers non autorisés y aient accès.</p>
<br>
<h11>VII.7 Hébergement du site</h11>
<br><br><p class="text-justify">
L'hébergeur du site mentionné à l'article 1.1 «Champ d'application et définitions» agit en qualité de sous-traitant de Circularisation.com, au sens de la loi n°78-17 du 6 janvier 1978, seulement sur instruction écrite de Circularisation.com, et ne dispose pas du droit d'utiliser les données personnelles des utilisateurs auxquelles il est susceptible d'avoir accès, sauf aux fins d'exécution des prestations techniques d'hébergement et de gestion des bases de données et seulement dans les conditions contractuelles signées entre l'hébergeur et Circularisation.com qui ne peuvent déroger au présent article.</p>
<br>
<h11>VII.8 Propriété intellectuelle</h11>
<br><br>
<p class="text-justify">Toute reproduction même partielle est subordonnée à l'autorisation préalable et écrite de Circularisation.com. Tout lien hypertexte dirigé vers une autre page que la page d'accueil du site est soumis à l'autorisation préalable et écrite de Circularisation.com.
Le visiteur du Site s'engage à ne reproduire aucun des éléments du Site. Toute utilisation contraire de tout ou partie du Site ou de l'un quelconque de ses éléments constituerait une contrefaçon susceptible d'entraîner des poursuites civiles et/ou pénales et d'exposer le visiteur contrevenant aux peines rappelées.
</p><br>
<h10>VIII- Litiges et prescriptions</h10>
<br><br>
<h11>VIII.1 Prescription</h11>
<br><br>
<p class="text-justify">Toute réclamation en relation contre la Société avec les présentes se prescrit dans un délai d'un an.</p>
<br>
<h11>VIII.2 Juridictions compétentes</h11>
<br><br><p class="text-justify">
En tant que de besoin, la juridiction compétente en cas de litige sera considérée comme étant les tribunaux compétents du lieu du siège de la Société.</p>
