<div class="row">
<% provide(:title, @travel.firstname) %>
  <aside class="col-md-4">
    <section class="travel_info">
    <h11>
    <%= @travel.firstname %>
    <%= @travel.lastname %>
    <%= @travel.from %>
    <%= @travel.to %>
    </h11>
    </section>
  </aside>
</div>
    
