<div class="row">
<%= render 'shared/navbaradmin'%>
</div>

<div class="row">
<div class="col-md-offset-2">
<h2>Les firmes d'audit enregistrées</h2>
<hr>


<% @accountingfirms.each do |accountingfirm| %>

<h11><%= link_to accountingfirm.name, accountingfirm %> | <%= link_to "Supprimer la firme", accountingfirm, method: :delete, data: { confirm: "Êtes-vous bien sûr?" } %></h11>

<% end %>
</div>
</div>
