<script>

  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>



<a data-toggle="tooltip" data-placement="left" title="La circularisation est signée. Votre commissaire
aux comptes peut désormais l'envoyer. Ce statut s'actualisera lorsque la circularisation aura fait l'objet d'une réponse de la part de votre banque.">Aucune disponible</a>
