<script>

  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>



<a data-toggle="tooltip" data-placement="left" title="La circularisation a été émise. Ce statut s'actualisera lorsque la circularisation aura fait l'objet d'une réponse de la banque.">Aucune disponible</a>
