<script>

  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>



<a data-toggle="tooltip" data-placement="right" title="La circularisation a été envoyée. Votre client doit désormais la signer. Vous pourrez envoyer la circularisation à la banque une fois la circularisation signée.">Aucune disponible</a>
