<script>

  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>


<% if "#{@bankaccount.answer}" == 'rejetée' %>
<a data-toggle="tooltip" data-placement="right" title="La circularisation a fait l'objet d'une réponse. Aucune autre action n'est nécessaire.">
<%= link_to "Rejetée", report_path(@id)%></a>

<% else %>

<a data-toggle="tooltip" data-placement="right" title="La circularisation a fait l'objet d'une réponse. Aucune autre action n'est nécessaire.">
<%= link_to "Confirmée", report_path(@id) %></a>

<% end %>
