<script>

  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>

<% if @bankaccount.answered == "9999-09-09 13:09:09.000000" %> 

<a data-toggle="tooltip" data-placement="right" title="La circularisation a fait l'objet d'une réponse. Aucune autre action n'est nécessaire.">Rejetée</a>

<% else %>

<a data-toggle="tooltip" data-placement="right" title="La circularisation a fait l'objet d'une réponse. Aucune autre action n'est nécessaire.">Confirmée</a>

<% end %>
