<p>Bonjour,</p>

<p>
Vous avez des circularisations en attente de réponse :
</p>

<%= link_to "Identifiez-vous sur Circularisation.com pour répondre aux circularisations en attenterails how to schedule tasks", sessions_new_url %>
