<p>Bonjour,</p>

<p>
Votre commissaire aux comptes vous demande de signer une circularisation pour l'émettre à votre banque :
</p>

<%= link_to "Identifiez-vous sur Circularisation.com pour signer la circularisation", sessions_new_url %>
