<%# it seems that using French specific characters trigger a change in formatting transfer content-transfer-encoding from 7Bit to quoted-printable which then messes up the URL do not use it %>
<p>Initialisation du mot de passe :</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
				      email: @user.email) %>

Ce lien ne sera plus actif dans deux heures.


