<p>Bonjour,</p>

<p>
Vous avez des circularisations en attente. Veuillez vous identifier sur Circularisation.com afin d'y répondre :
</p>

<%= link_to "S'identifier sur circularisation.com", login_url %>

