<div class="row">
<%= render 'shared/navbaradmin'%>
</div>
<div class="row">
<div class="col-md-offset-2">


<h2>Vos Banques</h2>


<% @banks.each do |bank| %>

<h11><%= link_to bank.name, bank %> | <%= link_to "Supprimer la banque", bank, method: :delete, data: { confirm: "sûr?" } %></h11><br>

<% end %>

</div>
</div>
