<% provide(:title, @bank.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="bank_info">
    <h3>
    <%= @bank.name %>
    <%= @bank.number_and_street %>
    <%= @bank.zip_code %>
    <%= @bank.city %>
    </h3>
    </section>
  </aside>
</div>
    
