<div class="row">
<%= render 'shared/navbaradmin'%>
</div>


<div class="row">
<div class="col-md-offset-2">

<% provide(:title, 'All users') %>
<h2>All users</h2>
<hr>
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

</div>
</div>
