

<div class="row">
<div class="col-md-2">
<h2>Users</h2>

</div>

</div>

<br>

<div class="row">
<div class="col-md-10">

<ul class="user">
  <%= render @users %>
</ul>

<%= will_paginate @users %>

</div>



</div>
