

<div class="row">
<h2>Find who you want to follow within the Payomi family!</h2>
</div>

<br>

<div class="row">

<div class="user">
  <%= render @users %>
</div>

<%= will_paginate @users %>

</div>
