<% provide(:title, @client.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="client_info">
    <h3>
    <%= @client.name %>
    <%= @client.number_and_street %>
    <%= @client.zip_code %>
    <%= @client.city %>
    </h3>
    </section>
  </aside>
</div>
    
