<div class="row">
<% provide(:title, @restaurant.name) %>
  <aside class="col-md-4">
    <section class="travel_info">
    <h11>
    <%= @restaurant.name %>
    <%= @restaurant.city %>
    </h11>
    </section>
  </aside>
</div>
    
