<div class="row">
<%= render 'shared/navbaradmin' %>
</div>
<div class="row">
<% provide(:title, @bankcontact.first_name) %>
  <aside class="col-md-4">
    <section class="bank_info">
    <h11>
    <%= @bankcontact.first_name %>
    <%= @bankcontact.last_name %><br>
    <%= @bankcontact.email %>
    </h11>
    </section>
  </aside>
</div>
    
