<h4>Attestation de solde</h4>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Fichier</th>
  </tr>
  </thead>
    <td><%= link_to "Consulter l'attestation de solde", @confirmation.file_answer.url, class: "btn btn-default" %></td>
</table>

