/*bootstrap*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*specific page components*/

@import "static_pages.css.scss";
@import "footer.css.scss";
@import "header.css.scss";
@import "static_pages.css";

/*class*/
@import "navbars.css.scss";
@import "forms.css.scss";
@import "tables.css.scss";
@import "links.css.scss";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


.divider {
  font-size: 0.8em;
  text-align: center;
}


  /* sidebar format of some list such as auditeur*/

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;


}  



/* dashboard */
.dashboard {
font-family:helvetica;
font-size: 95%;
line-height: 1.4;

}


/* grid */
.background {
background: white;
padding-top: 5px;
padding-bottom:5px;
}

.sidelink {
font-size: 85%;
font-family: arial;
color: grey;
}
.sidelink:hover {
font-size: 90%;
font-weight: bold;
color: grey;
text-decoration: none;
}

.sidetitle {
font-family: arial;
}

.user {
font-size: 125%;
font-family: arial;
color: black;
}

td {
color: black;
font-size: 95%;
text-align: left;
}

th {
vertical-align: center;
horizontal-align: center;

}

.custom-button-default {
border: 0;
background: none;
}

/*grey button such as add confirmation*/
.round {
    background:grey;
    border-color: grey; 
    margin-left: 10px;
}


.left {
text-align: left;
}

a {
color: black;
font-size: 95%;
text-align: left;
}

a.hover {
color: black;
font-size: 95%;
text-decoration: none;
} 

