
/* header */

.logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: white;
  letter-spacing: -1px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
