a {
color: black;
font-size: 95%;
text-align: left;
}

a.hover {
color: black;
font-size: 95%;
text-decoration: none;
} 

.table-links {
color: black;
text-decoration: none;
} 

.class {
font-size: 105%
}
