/* navbar */ 

/* navbar */ 

/* START: orca-theme */
.navbar-inverse{
	background-color: #3477C4;
	border-color: #3477C4;
}

.navbar-inverse .navbar-nav > li > a {
	color: #C8DBF0;
}
/* END: orca-theme */

.btn-header {
    border: 0 none;
    font-size: 14px;
    line-height: 1.428;
    background: #222222;
    color: #d9cbcb;
}

  .btn-header:hover, .btn-header:focus, .btn-header:active, .btn-header.active, .open > .dropdown-toggle.btn-header {
    background: #6f6262;
    color:white;
    
}

.navbar-nav {
  font-size: 15px;
  line-height: 1.428;
  float: left;
}

/* START: orca-theme */
.dropdown:hover {
 background:#40587F;
 color: #40587F;
}
/* END: orca-theme */

ul.nav li:active {
  background:#3b3535;
  color: #ece6e6;
}


