/* navbar */ 

/* navbar */ 

/* START: orca-theme */
.navbar-inverse{
	#background-color: #142F45;
	background-color: black;
	border-color: #142F45;
}

.navbar-inverse .navbar-nav > li > a {
	color: #C8DBF0;
}
/* END: orca-theme */

.btn-header {
    border: 0 none;
    font-size: 14px;
    line-height: 1.428;
    background: #222222;
    color: #d9cbcb;
}

  .btn-header:hover, .btn-header:focus, .btn-header:active, .btn-header.active, .open > .dropdown-toggle.btn-header {
    background: #6f6262;
    color:white;
    
}

.navbar-nav {
  font-size: 15px;
  line-height: 1.428;
  float: left;
}

/* START: orca-theme */
.dropdown:hover {
 background:#273E50;
 color: #273E50;
}
/* END: orca-theme */

ul.nav li:active {
  background:#3b3535;
  color: #ece6e6;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #3C577B;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
