.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    font-family: arial;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    font-size: 2em;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
    font-size: 2em;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users {
  padding: 0;
  font-size: 1.2em;
}
strong {
  font-size: 1em;
}
strong.following {
  white-space:normal;
  padding: 0;
  font-size: 1em;
  font-family: arial;
}
strong.followers {
  white-space:pre;
  padding: 0;
  font-size: 1em;
  font-family: arial;
}
