<footer class="footer">
  <small>
Solution de circularisation électronique
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Conditions d'utilisation", terms_and_conditions_path %></li>
      <li><%#= link_to "Test1", test1_path %></li>
      <li><%= link_to "Test2", rake_path %></li>
      
    </ul>
  </nav>
</footer>
