<footer class="footer">
  <small>
Solution de circularisation électronique
  </small>
  <nav>
    <ul>
      <li><%= link_to "À propos",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Test1", test1_path %></li>
      <li><%= link_to "Test2", test2_path %></li>
      
    </ul>
  </nav>
</footer>
